{% extends "base.html" %}

{% block content %}

<a href="/"><button class="back">← Back</button></a>

<div class="card">

<h2>Add Expense</h2>

<form method="POST">

<label>Category</label>

<select name="category_id" required>
<option value="">Select Category</option>
{% for category in categories %}
<option value="{{ category.id }}">{{ category.name }}</option>
{% endfor %}

</select>

<label>Amount</label>
<input type="number" step="0.01" name="amount" required>

<label>Description</label>
<input type="text" name="description">

<label>Date</label>
<input type="date" name="expense_date" required onclick="this.showPicker()">

<button type="submit">Add Expense</button>

</form>

</div>

{% endblock %}